.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input[type="file"] {
  display: none;
}

/* Style for the upload and inference buttons */
button, .custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  margin-top: 50px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(45deg, #4caf50, #81c784);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  text-transform: uppercase;
}

button:hover, .custom-file-upload:hover {
  background: linear-gradient(45deg, #388e3c, #66bb6a);
  transform: translateY(-2px);
}

button:disabled {
  background: #cccccc;
  cursor: not-allowed;
}

button:active, .custom-file-upload:active {
  transform: translateY(2px);
}

/* Center image and spacing adjustments */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px; /* Added margin-top to create space between image and button */
  margin-bottom: 100px; /* Added margin-bottom for spacing between image and table */
}

img {
  max-width: 100%;
  max-height: 60vh;  /* Adjust height so it doesn't take up too much space */
}

/* Styling for the table */
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  text-align: left;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add box-shadow for better visibility */
}

th, td {
  border: 1px solid #ddd;
  padding: 12px 20px; /* Increased padding for better readability */
}

th {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

table + div {
  margin-top: 20px; 
}
